#lobby-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#uid-info {
  display: none;
}

#game-info {
  min-width: 200px;
  width: 20vw;
  height: 500px;
  border: 5px solid black;
  margin-left: 20px;
  padding: 20px;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.hidden {
  display: none;
}

#instructions {
  margin: 0 20vw;
}