$divider-stroke-size: 15px
$tile-width-height: calc(100% - 2/3 * #{$divider-stroke-size})

.board
  --tile-px-size: calc(#{$tile-width-height} + 0px)

.row
  height: fit-content
  
.placeholder
  opacity: 0%

.hor-divider
  height: $divider-stroke-size
  background-color: black

.vert-divider
  width: $divider-stroke-size
  background-color: black

.img
  width: 100%
  height: auto

.tile
  width: $tile-width-height
  height: $tile-width-height
  padding: 10px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center